services:
  web:
    build:
      context: .
      target: web_runner
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
    env_file:
      - ./apps/web/.env.local
    restart: unless-stopped
